.am-article-bd blockquote p {
    overflow: auto;
}
.media {
    float: right;
    width: 100%;
}
.media:first-child {
    margin-top: 10px;
}
.media .media-left {
    padding-right: 10px;
}
.media .media-left .media-object {
    width: 64px;
    height: 64px;
}
.media .media-body {
    border: 1px solid #ECF0F1;
    border-radius: 5px;
    background-color: #fff;
    color: #7F8C8D;
    width: 100%;
    max-width: 0px;
}
.dd-comment .comment-body img {
    max-width: 100%;
}
.media .media-body .heading {
    padding: 10px 20px;
    background: #ECF0F1;
}
.media .comment-body {
    padding: 10px 10px;
    color: #34495e;
}
.dada-media-child {
    width: 90%;
    float: right;
    margin-top: 5px;
}
.dada-media-child .child-user {
    color: #ee542a;
}
.dada-media-child .re-black {
    color: black;
}
.media .comment-body p {
    overflow: auto;
}
.dd-comment-box {
    padding-right: 0;
    clear: both;
}
.dd-box {
    width: 91%;
    float: right;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}
.dd-box .email-input {
    height: 30px;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}
.dd-box .email-span {
    display: inline-block;
    margin-left: 5px;
    line-height: 33px;
}
.dd-comment-box textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #A9A9A9;
    float: right;
}
.dd-comment-box button {
    float: right;
    border-radius: 0 0 5px 0;
}